<?xml version="1.0" ?>
<config>
    <modules>
        <WebninjaCatalogInventory>
            <version>1.0.0.1</version>
            <depends>
                <Mage_Catalog />
            </depends>
        </WebninjaCatalogInventory>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product_api_v2>WebninjaCatalogInventory_Model_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
            <cataloginventory>
                <rewrite>
                    <stock_item_api>WebninjaCatalogInventory_Model_Stock_Item_Api</stock_item_api>
                    <stock_item_api_v2>WebninjaCatalogInventory_Model_Stock_Item_Api_V2</stock_item_api_v2>
                </rewrite>
            </cataloginventory>
        </models>
    </global>
</config>